.navbar-header a[class$="first"],.navbar-header a[class$="last"]{
    font-size: 19px;
    font-weight: bold;
}
.unhidden{
    display:block!important;
}
div[id^="addblogitemblock"]{
    display:none;
}