{# empty Twig template #}
<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Блог платформа</a>-->
          {{knpmenu|raw}}
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <div class="form-group">
              <input name="_username" type="text" placeholder="эл.почта" class="form-control">
            </div>
            <div class="form-group">
              <input name="_password" type="password" placeholder="пароль" class="form-control">
            </div>
            <button id="authenticationbtn" class="btn btn-success">Войти</button>
                                       <div id="userinfo" class="navbar-form navbar-right">{{userinfo}}</div>
          </div>
        </div><!--/.navbar-collapse -->
      </div>